<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="back-button" title="volver" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title id="toolbarTitle">
      Consulta Medica
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <!-- Listas Desplegables-->
  <ion-item>
    <ion-select [(ngModel)]="opcionSeleccionada1" (ionChange)="onChangeSelect()" label="¿Hinchazón en piernas o abdomen?">
      <ion-select-option value="opcion1-1">SI, MUY NOTORIA</ion-select-option>
      <ion-select-option value="opcion1-2">Si, Leve</ion-select-option>
      <ion-select-option value="opcion1-3">No.</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-select [(ngModel)]="opcionSeleccionada2"  (ionChange)="onChangeSelect()" label="¿Dolor de cabeza?">
      <ion-select-option value="opcion2-1">SI, FUERTES</ion-select-option>
      <ion-select-option value="opcion2-2">Si, Leves</ion-select-option>
      <ion-select-option value="opcion2-3">No.</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-select [(ngModel)]="opcionSeleccionada3"  (ionChange)="onChangeSelect()" label="¿Perdida de equilibrio?">
      <ion-select-option value="opcion3-1">SI, MUY FRECUENTES</ion-select-option>
      <ion-select-option value="opcion3-2">Si, Esporadicos</ion-select-option>
      <ion-select-option value="opcion3-3">No.</ion-select-option>
    </ion-select>
  </ion-item>
  
  <!-- Boton "Llamar Turnos" Ubicacion: Abajo En el centro-->
 
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="LlamarTurnos()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>