.toolbar{
    height:100px;
    
    #toolbarTitle{
        text-align: center;
        margin-top: 30px;
        font-weight: bold;
        color: #387ef5;
    }        
}

.back-button{
    background-color: white;
    color:#387ef5;
    margin-top: 30px;
}
