<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="back-button" title="volver" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title id="toolbarTitle">
      OLD RESCUE APP
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-col size="10">
    <ion-button class="button" expand="block" type="submit" 
    title="botondeingreso" (click)="PaginaEmergencias()">Emergencia Medica</ion-button>
  </ion-col>
  
  <div class="separador" id="Parrafo">
  <p> Recuerde que el uso del "BOTON DE PANICO" es solo para casos de URGENCIA EXTREMA. </p>
  <p> El mismo lo pondrá en contacto directo con la línea 911, donde podrá comunicarse tanto con los sistemas médicos de Emergencia, como con la Policía, Los Bomberos, Defensa Civil, etc.</p>
  <p> POR FAVOR USE ESTA HERRAMIENTA CON PRUDENCIA Y RESPONSABILIDAD. </p>
  </div>
  
  <ion-col size="10">
    <ion-button class="button" expand="block" type="submit" 
    title="botondeingreso" (click)="BotonPanico()">Boton de Panico</ion-button>
  </ion-col>





</ion-content>
